#!/bin/bash

export sh_basedir="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"
export sh_penvdir="${sh_basedir}/penv"

export PATH="${sh_basedir}/bin:$PATH"

export USERID=`id -u`

if [ -f $sh_penvdir/bin/activate ]; then
  . $sh_penvdir/bin/activate
fi 

export SMARTHOME_SENSORS="mqtt2influxdb remotetemperature2influxdb zendure2influxdb mystrom2influxdb smartthings2influxdb fritz2influxdb smart-manager"

# interval to query REST APIs (seconds)
export QUERY_INTERVAL=60

# --- Smart Manager ---
# maximum Watt to inject into house grid
export INJECTION_MAX=400
# baseload of house
export BASELOAD=95
# battery min/max level
export BATT_MIN=10
export BATT_MAX=95

# --- DEVICES & SECRETS ----

export FRITZ_DEVICELIST="fritz"
export FRITZ_fritz_FEATURES="hosts transmission_rate ha"
export FRITZ_DEVICEMAP="--path-to-devicemap--"
export FRITZ_QUERY_INTERVAL=300
# replace credentials
export FRITZ_fritz_HOST="--replace-hostname--"
export FRITZ_fritz_USER="--replace-username--"
export FRITZ_fritz_PASSWORD="--replace-password--"


export SCHATZKISTE_LOGDIR="$sh_basedir/schatzkiste/stats"

export NEXTCLOUD_URL="--replace-hostname--"
export NEXTCLOUD_USER="--replace-username--"
export NEXTCLOUD_APITOKEN="--replace-token--"

export INFLUX_URL="http://localhost:8086"
export INFLUX_TOKEN="--replace-token--=="
export INFLUX_TOKEN_LONGRANGE="--replace-token-longrange--"
export INFLUX_ORG="--replace-influx-org--"
export INFLUX_BUCKET="--replace-influx-bucket--"

# MQTT
export MQTT_BROKER="--replace-hostname--"
export MQTT_PORT=1883
export MQTT_TOPIC="tele/+/SENSOR"
export MQTT_USERNAME="--replace-usernmae--"
export MQTT_PASSWORD="--replace-password--"

# Tasmota
export TASMOTA_TAG="tasmota_123456"

# mystrom switches
export MYSTROM_SWITCHLIST="SOLAR MOBILE"
export MYSTROM_SOLAR_HOST="--replace-hostname--"
export MYSTROM_SOLAR_TOKEN="--replace-token--"
export MYSTROM_SOLAR_measurement="mystromsolar"
export MYSTROM_SOLAR_room="2 Joni my"
export MYSTROM_SOLAR_electric="solar"

# zendure Powerflow 800 Pro
export ZENDURE_HOST="--replace-hostname--"
export ZENDURE_SN="--replace-serialnumber--"
export ZENDURE_MAX_INJECTION=800
export ZENDURE_MIN_BATTERY_LEVEL=10
export ZENDURE_REPORT_PROPERTIES="solarPower1 solarPower2 solarPower3 solarPower4 electricLevel gridInputPower solarInputPower outputLimit gridOffPower BatVolt packInputPower outputPackPower packState remainOutTime"
export ZENDURE_REPORT_PACK_PROPERTIES="socLevel state power"
export ZENDURE_SEND_DATA_TO_MQTT_BROKER="yes"

# SMARTTHINGS
export SMARTTHINGS_TOKEN="--replace-token--"
export SMARTTHINGS_DEVUCELIST="A B"
export SMARTTHINGS_A_ID="--reaplce-id--"
export SMARTTHINGS_A_LABEL="1 Schlafzimmer"
export SMARTTHINGS_B_ID="--replace-id--"
export SMARTTHINGS_B_LABEL="0 Wohnzimmer"

# remoteweather
export REMOTEWEATHER_URL="https://api.openweathermap.org/data/2.5/weather?lat=48.09581237201164&lon=11.491786786342457&appid=e1b925f2148c1038f46163b1b4896d17"
export REMOTEWEATHER_INTERVAL=300